.DS_Store

/original/*.zip
/original/*.WOR
/original/*.EXE
/original/*.CIR
/original/*.WLD
/original/*.SHW
/original/*.CSV
/original/*.PIN

.*.swp
*.pyc
*.kate-swp

/build/
/dist/
/.cache/
/node_modules/

