/original/*.zip
/original/*.WOR
/original/*.EXE
/original/*.CIR
/original/*.WLD
/original/*.SHW
/original/*.CSV
/original/*.PIN

*.pyc

/dist/
/.cache/
/node_modules/

ro-engine/build/
**/target
**/*.rs.bk

