.DS_Store

/original/*.zip
/original/*.WOR
/original/*.EXE
/original/*.CIR
/original/*.WLD
/original/*.SHW
/original/*.CSV
/original/*.PIN

.*.swp
*.pyc
*.kate-swp
.ipynb_checkpoints/

/.cache/
/node_modules/
/venv/

/packages/*/node_modules/
/packages/*/dist/
/packages/*/build/
