#splash > img:nth-of-type(1) {
    animation: 2.0s ease 0.1s 1 normal both running iris;
}

#splash > img:nth-of-type(2) {
    animation: 3.0s ease 2.75s 1 normal both running iris;
}

#game_menu {
    animation: 2.6s ease 0s 1 normal both running iris;
    transition: opacity 0.75s;
}

#framebuffer {
    animation: 1.25s ease 0s 1 normal both running iris;
    background: #000;
}

#game_menu .stack-1 {
    display: block;
    width: 100%;
    height: 10.309278350515465%;
}

#game_menu .stack-2 {
    display: block;
    width: 100%;
    height: 8.24742268041237%;
}

#game_menu .stack-3 {
    display: block;
    width: 100%;
    height: 7.731958762886598%;
}

#game_menu .stack-4 {
    display: block;
    width: 100%;
    height: 11.34020618556701%;
}

@keyframes iris {
    0% {
        clip-path: circle(0% at center);
    }
    100% {
        clip-path: circle(74% at center);
    }
}

#game_menu_cursor {
    pointer-events: none;
    transition: top 0.075s ease;
}

.modal {
    z-index: 3;
    background: #000;
    transition: opacity 0.5s ease;
}

#modal_textbox pre {
    font-size: 110%;
    line-height: 1.6;
    white-space: pre-wrap;
}

.modal_border {
    background: #000;
    color: #ececec;
    border: 2vw solid #111;
    width: 100%;
    height: 100%;
    padding: 2vw;
    border-radius: 2vw;
    overflow-y: auto;
    overflow-x: visible;
}
