.button_area {
    display: flex;
    flex-wrap: wrap;
    margin: 0 50px 2px 50px;
}

.keyboard_spacebar {
    flex: 4 0 0;
}

.keyboard_enter {
    flex: 2 0 0;
}

.keyboard_esc {
    flex: 2 0 0;
}

#palette_selector {
    flex: 2 0 0;
}

.active_btn {
    background-color: #444440;
    border-color: #777;
}

.keyboard_btn {
    touch-action: none;
}

#engine_controls {
    width: 100%;
    opacity: 1;
    transition: opacity 1.5s;
}

#engine_controls.hidden {
    display: block;
    opacity: 0;
}

button, select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    user-select: none;
    -webkit-user-select: none;
    background-color: #222;
    font: 17px sans-serif;
    color: #888;
    border: 1px solid #555;
    border-radius: 2px;
    margin: 2px;
    padding: 8px;
    flex: 1 0 0;
    text-align: center;
    text-align-last: center;
    min-height: 50px;
}

#frame button {
    color: #eee;
}
