button, select {
    appearance: none;
    user-select: none;
    background-color: #1c1c1c;
    font: 20px sans-serif;
    color: #888;
    border: 2px solid #333;
    border-radius: 4px;
    margin: 2px;
    padding: 4px;
    flex: 1 0 0;
    text-align: center;
    text-align-last: center;
    min-height: 58px;
}

.button_area {
    display: flex;
    margin: 2px 50px;
    user-select: none;
}

.button_area.wrap {
    flex-wrap: wrap;
}

.keyboard_enter, .keyboard_esc, #palette_selector {
    flex: 2 0 0;
}

.filepicker_btn, .savezip_btn, .copy_url_btn, .fullscreen_btn {
    flex: 3 0 0;
}

.keyboard_spacebar, .exec_btn {
    flex: 4 0 0;
}

.active_btn {
    background-color: #444440;
    border-color: #666;
}

.keyboard_btn {
    touch-action: none;
}

#engine_controls {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    transition: opacity 1.5s;
}

#engine_controls .spacer {
    margin: 12px 0;
}
