#modal_files h1 {
    margin: 2vmin 0;
    font-size: 110%;
}

#modal_files button {
    color: #eee;
}

#modal_files .files {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

#modal_files .item {
    flex: 1 0 0;
    display: flex;
    margin: 2px;
    padding: 1px;
    background: #000;
    min-width: 330px;
    justify-content: space-around;
    user-select: none;
    -webkit-user-select: none;
}

#modal_files .thumbnail {
    flex: 0 0 0;
    position: relative;
    width: 120px;
    min-width: 120px;
    max-width: 120px;
    height: 90px;
    background: rgba(0,0,0,0.85);
    border: 2px solid #000;
    border-radius: 4px;
    transition: transform 0.2s ease;
    transform: none;
    pointer-events: none;
    z-index: 9001;
    user-select: none;
    -webkit-user-select: none;
    user-drag: none;
    -webkit-user-drag: none;
    -moz-user-drag: none;
}

#modal_files .item:hover {
    background: #333;
}

#modal_files .item:hover .thumbnail {
    transform: translate(40%, 0%) scale(2.5);
    z-index: 9002;
}

#modal_files .item:hover .filename {
    transform: scale(1.1) translate(140px, 3px);
}

#modal_files .item:hover .date {
    transform: translate(130px, 0px);
}

@media (hover: none) {
    /* Hover effects disabled on touch devices, so they don't get stuck.
     * This media query is also currently unsupported on Firefox, so the
     * non-conditional case must be hover and the override is for 'none'.
     */

    #modal_files .item:hover {
        background: #000;
    }

    #modal_files .item:hover .thumbnail {
        transform: none;
    }

    #modal_files .item:hover .filename {
        transform: none;
    }

    #modal_files .item:hover .date {
        transform: none;
    }
}

#modal_files .details {
    flex: 0.96 1 0;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 5px;
    justify-content: space-around;
    overflow: hidden;
}

#modal_files .filename {
    position: relative;
    transition: transform 0.2s ease;
    transform: none;
    color: #eee;
    overflow-wrap: break-word;
    font-size: 80%;
}

#modal_files .date {
    position: relative;
    transition: transform 0.2s ease;
    transform: none;
    color: #777;
    font-size: 70%;
}

#modal_files .button_area {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

#modal_files .button_area.hidden {
    display: none;
}

#modal_files .button_area .spacer {
    flex: 0.5 0 0;
}
