#game_area {
    z-index: 2;
    position: relative;
    background: #000;
    width: 100%;
    overflow: hidden;
    user-select: none;
}

#game_area .width_sizer {
    max-width: 133vh;
    margin: 0 auto 6px auto;
    width: 100%;
    height: 100%;
}

#frame {
    position: relative;
    overflow: hidden;
    background: #000;
    padding-bottom: 75%;
    width: 100%;
    height: 100%;
}

#frame .layer {
    touch-action: none;
}

.layer {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

