#joystick {
    display: flex;
    margin: 20px 50px;
    user-select: none;
}

#joystick_xy {
    flex: 1 0 0;
    position: relative;
    height: 135px;
    max-width: 270px;
    background: #111;
}

.joystick_btn {
    flex: 1 0 0;
    touch-action: none;
    border: none;
    margin: 0;
    padding: 4px;
}
