#joystick {
    margin: 0 50px;
    display: flex;
    user-select: none;
    touch-action: none;
}

#joystick_zone {
    flex: 1 0 0;
    position: relative;
    height: 140px;
    max-width: 280px;
    background: #111;
    border-radius: 4px;
    margin: 0 2px;
    padding: 4px;
}

#joystick_zone::before, #joystick_zone::after {
    content: "";
    position: absolute;
    background: #2e2e2e;
}

#joystick_zone::before {
    top: 0;
    bottom: 0;
    left: 50%;
    width: 4px;
    margin-left: -2px;
}

#joystick_zone::after {
    left: 0;
    right: 0;
    top: 50%;
    height: 4px;
    margin-top: -2px;
}

#joystick_center {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 0;
    height: 0;
}

#joystick_thumb {
    position: absolute;
    margin: 0;
    left: -40px;
    top: -40px;
    border-radius: 80px;
    width: 80px;
    height: 80px;
    transform: translate(0px, 0px);
    transition: transform 0.075s ease;
    z-index: 1;
    overflow: hidden;
    color: #585858;
}

.joystick_btn {
    flex: 1 0 0;
    border: none;
    padding: 4px;
    margin: 0;
}
