* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #000;
    color: #777;
    font: 16px sans-serif;
}

a {
    color: #067697;
    text-decoration: none;
}

.hidden {
    display: none;
}

.fadeout {
    opacity: 0;
}

.column_width {
    margin: 0 auto;
    max-width: 1200px;
}

#footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

#footer > * {
    display: block;
    flex: 0 0 0;
    line-height: 2;
    margin: 12px;
    white-space: nowrap;
}

#footer .version {
    color: #555;
}
