#splash > *:nth-child(1) {
    animation: 1.5s ease 0.1s 1 normal both running iris;
}

#splash > *:nth-child(2) {
    animation: 1.5s ease 2.6s 1 normal both running iris;
}

#game_menu {
    animation: 1.5s ease 5.0s 1 normal both running iris;
}

@keyframes iris {
    0% {
        clip-path: circle(0% at center);
        -webkit-clip-path: circle(0% at center);
    }
    100% {
        clip-path: circle(74% at center);
        -webkit-clip-path: circle(74% at center);
    }
}

#game_menu_cursor {
    transition: top 0.3s ease;
}
