#game_area {
    width: 100%;
}

#game_area > div {
    max-width: 133vh;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

#frame {
    position: relative;
    background: #000;
    padding-bottom: 75%;
    width: 100%;
    height: 100%;
}

#frame * {
    touch-action: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#splash_1 {
    animation: 1.5s ease 0.2s 1 normal both running iris;
}

#splash_2 {
    animation: 1.5s ease 2.5s 1 normal both running iris;
}

#main_menu {
    animation: 1.5s ease 5.0s 1 normal both running iris;
}

@keyframes iris {
    0% {
        clip-path: circle(0% at center);
    }
    100% {
        clip-path: circle(100% at center);
    }
}

#main_menu_cursor {
    transition: top 0.3s ease;
}
