h4 {
    font-size: 18px;
}

button {
    font-size: 25px;
    margin: 5px;
}

body {
    background: black;
    color: #eee;
    font: 12px sans-serif;
}

div.cga {
    width: 100%;
    padding: 10px 0 0 0;
    text-align: center;
}

canvas.cga {
    width: 644px;
    height: 505px;
}
