h4 {
    text-align: center;
    font-size: 18px;
}

body {
    background: black;
    color: #eee;
    font: 12px sans;
}

div.cga {
    width: 100%;
    padding: 10px 0 0 0;
    text-align: center;
}

canvas.cga {
    width: 640px;
    height: 500px;
}
