body {
    background: #000;
    color: #777;
    font: 16px sans-serif;
}

button {
    background-color: #222;
    font: 18px sans-serif;
    color: #888;
    margin: 2px;
    padding: 2px 20px 20px 2px;
    height: 45px;
    min-width: 45px;
}

#frame {
    position: relative;
    width: 100%;
    text-align: center;
}

#controls {
    width: 100%;
}

.controls_hidden {
    opacity: 0;
}

.controls_visible {
    opacity: 1;
    transition: opacity 1.5s;
}

#joystick {
    position: relative;
    width: 100%;
    height: 120px;
}

#joystick_xy {
    position: absolute;
    width: 50%;
    height: 100%;
    background: #111;
}

#joystick_hide {
    position: absolute;
    right: 0;
    bottom: 0;
    color: rgba(255,255,255,0.5);
    z-index: 5;
}

.joystick_btn {
    position: absolute;
    width: 50%;
    height: 100%;
    left: 50%;
    top: 0;
    border: none;
    padding: 4px;
}

#framebuffer {
    width: 667px;
    height: 500px;
    background: #000;
}

#savefile_input {
    display: none;
}

#engine_loading {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -80px;
    margin-top: -90px;
    width: 120px;
    height: 120px;
}

#engine_loading:after {
    content: " ";
    display: block;
    width: 110px;
    height: 110px;
    margin: 1px;
    border-radius: 50%;
    border: 20px solid #444;
    border-color: #444 transparent #444 transparent;
    animation: spin-keyframes 2.0s linear infinite;
}

@keyframes spin-keyframes {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#engine_error {
    display: none;
    position: absolute;
    left: 10%;
    top: 10%;
    width: 80%;
    font-size: 18px;
    color: #ddd;
    white-space: pre;
    text-align: left;
}